@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* My own custom classses */

.bg-img-with-opacity {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 32, 63, 0.9)),
      to(rgba(0, 32, 63, 0.9))
    ),
    url(/background-1.jpg);
  background: -o-linear-gradient(rgba(0, 32, 63, 0.9)),
    rgba(rgba(0, 32, 63, 0.9)), url(/background-1.jpg);
  background: linear-gradient(rgba(0, 32, 63, 0.9), rgba(0, 32, 63, 0.9)),
    url(/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* height: 85vh; */
  position: relative;
}

.bg-img-with-opacity2 {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 32, 63, 0.9)),
      to(rgba(0, 32, 63, 0.9))
    ),
    url(/background-2.jpg);
  background: -o-linear-gradient(rgba(0, 32, 63, 0.9)),
    rgba(rgba(0, 32, 63, 0.9)), url(/background-2.jpg);
  background: linear-gradient(rgba(0, 32, 63, 0.9), rgba(0, 32, 63, 0.9)),
    url(/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* height: 85vh; */
  position: relative;
}
